<div class="col-wrapper" id="left-col-wrapper">
    <h2>{{'PATIENTS.DETAILS.TITLE' | translate}}</h2>
    <ng-container *ngIf="patient">
        <patient-form
        [patient]="patient"
        [disabled]="true">
        </patient-form>
        <button id="edit-btn" mat-raised-button color="basic" [routerLink]="['/patients', patient.id, 'edit']">
            <span>{{'GLOBAL.EDIT' | translate}}</span>
        </button>
        <button id="return-btn" mat-raised-button color="basic" [routerLink]="['/patients']">
            <span>{{'GLOBAL.RETURN' | translate}}</span>
        </button>
    </ng-container>
</div>
<div class="col-wrapper">
    <h2>{{'PATIENTS.DETAILS.EXAMINATIONS_LIST_TITLE' | translate}}</h2>
    <ng-container *ngIf="patient">
        <generic-table
            [columns]="['EXAMINATIONS.ARRANGED_AT', 'TESTS.TYPE', 'EXAMINATIONS.RESULT.NAME']"
            [items]="patient.examinations"
            [itemTemplate]="itemTemplate"
            [actionColumn]="false"
            [clickableRow]="true"
            (rowClickedEmitter)="showExaminationDetails($event)">
            <ng-template #itemTemplate let-examination []>
                <td>{{examination.arrangedAt.toLocaleString()}}</td>
                <td>{{examination.test?.name}}</td>
                <td>{{(examination.result ? 'EXAMINATIONS.RESULT.POSITIVE' : examination.result === false ? 'EXAMINATIONS.RESULT.NEGATIVE' : 'EXAMINATIONS.RESULT.NONE') | translate}}</td>
            </ng-template>
        </generic-table>
    </ng-container>
</div>