<h2>{{'HOME.TITLE' | translate}}</h2>
<div>
    <p>
        {{'HOME.GENERAL_DESCRIPTION' | translate}}
    </p>
    <p>
        {{'HOME.LIST.HEADER' | translate}}:
    </p>
    <ul>
        <li>
            <span>{{'HOME.LIST.PATIENTS' | translate}}</span>
        </li>
        <li>
            <span>{{'HOME.LIST.TESTS' | translate}}</span>
        </li>
        <li>
            <span>{{'HOME.LIST.EXAMINATIONS' | translate}}</span>
        </li>
        <li>
            <span>{{'HOME.LIST.EMPLOYEES' | translate}}</span>
        </li>
        <li>
            <span>{{'HOME.LIST.DELIVERY' | translate}}</span>
        </li>
        <li>
            <span>{{'HOME.LIST.SUPPLIERS' | translate}}</span>
        </li>
    </ul>
</div>