$bg-color: #2f3542;
$border-color: #0b0b0c;

.bar {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;

    .logo {
        width: 64px;
        height: 64px;
        margin-right: 1rem;
        margin-left: .5rem;
    }

    .title {
        flex-grow: 1;
    }

    .lang-select {
        margin-right: 2rem;
        max-width: 100px;
    }
}